version: "3"

services:

  zookeeper2:
    image: docker.io/bitnami/zookeeper:3.8
    restart: always
    ports:
      - '2181:2181'
    hostname: zookeeper2
    container_name: zookeeper
    networks:
      - cluster_net
    volumes:
      - /home/${SERVER2_USER}/docker/zookeeper_volume:/bitnami
    environment:
      - ZOO_SERVER_ID=2
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_SERVERS=zookeeper1:2888:3888,zookeeper2:2888:3888,zookeeper3:2888:3888

  kafka-1:
    image: docker.io/bitnami/kafka:3.2
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
      - "9093:9093"
    networks:
      - cluster_net
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper1:2181,zookeeper2:2181,zookeeper3:2181
      - KAFKA_CFG_BROKER_ID=1
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_LISTENERS=CLIENT://:9092,EXTERNAL://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://${SERVER2_USER}:9092,EXTERNAL://${SERVER2_USER}:9093
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_LOG_RETENTION_HOURS=72
      - KAFKA_CFG_LOG_RETENTION_CHECK_INTERVAL_MS=10000
    volumes:
      - /home/${SERVER2_USER}/docker/kafka_volume:/bitnami
    depends_on:
      - zookeeper2

  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: xhdtlsqhdks1
      POSTGRES_DB: tcs_database
    volumes:
      - /home/${SERVER2_USER}/docker/postgres_volume:/var/lib/postgresql/data

volumes:
  postgres:
  zookeeper2:
  kafka-1:


networks:
  cluster_net:
    driver: overlay
    external:
      name: cluster_net